* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}

body {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #f5f5f5;
  height: inherit;
}

img {
  width: 100%;
  height: 100%;
}

#root {
  height: inherit;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #000;
}

/* intro-page */

.intro {
  width: 100%;
  height: 100%;
  background-color: #f52d56;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 15px;
}

.logo-box {
  background-color: #f52d56;
  padding: 15px;
  border-radius: 50%;
}

.intro-title {
  color: #ffff;
  font-weight: bold;
  padding: 10px;
}

/* menu */

.menu {
  cursor: pointer;
  display: flex !important;
}

.menu-container {
  position: relative;
  width: 100px;
  padding: 10px 0;
}

.menu-title {
  text-align: center;
}

.menu-content {
  position: absolute;
  top: 8.5vh;
  z-index: 998;
  padding: 0;
  transition: transform 0.3 ease;
  background-color: #9b9b9b;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  display: none;
}

.is-active {
  display: flex;
}

.is-none {
  display: none;
}

.is-show {
  display: flex;
}

.menu-content li {
  list-style: none;
  text-align: center;
  width: 100px;
  padding: 10px 0;
}

.menu-content li:hover {
  background-color: #c1c0c9;
}

.menu-icon {
  display: none;
  border: none;
  background-color: transparent;
  padding: 10px;
  color: inherit;
}

/* menu-responsive width 825px */

@media (width < 825px) {
  .menu-icon {
    display: block;
  }

  .header {
    position: relative;
  }

  .menu {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fa4468;
    cursor: pointer;
  }

  .menu-container {
    width: 100%;
    padding: 0;
    padding: 5px 0;
  }

  .menu-container:hover {
    background-color: #d62e50;
    font-size: 18px;
  }

  .menu-content {
    position: static;
    background-color: #808080;
  }

  .is-none {
    display: flex !important;
  }

  .is-show {
    display: none !important;
  }
}

/* Content */

.header {
  display: flex;
  background-color: #f52d56;
  align-items: center;
  justify-content: space-between;
  color: #f5f5f5;
  font-weight: bold;
  height: 10vh;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  padding: 5px;
}

.recipe-container {
  margin: 25px 0;
  padding: 0 20px;
  min-height: 100%;
}

.container {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 8px #0000001a;
  background-color: #fff;
}

.card-image {
  border-radius: 5px;
  height: 175px;
}

.card_img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  object-fit: cover;
}

.card-container h4 {
  padding: 5px 10px;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 5px 10px;
}

.description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px 10px;
  font-size: 14px;
}

.servings {
  display: flex;
  align-items: center;
}

.servings p,
.cooking-time p {
  padding: 0 5px;
}

.cooking-time {
  display: flex;
  align-items: center;
}

/* Individual recipe */

.recipe-data {
  width: 95%;
  margin: 15px auto;
  background-color: #dad9e2;
}

.title {
  padding: 20px;
  font-weight: bold;
}

.img-recipe {
  object-fit: cover;
  border-radius: 5px;
}

.img-recipe-box {
  width: 60%;
  height: 500px;
  margin: 0 auto;
  padding: 10px 20px;
}

.recipe-description {
  padding: 20px;
}

.preparation-box,
.ingredients-box {
  padding: 10px 20px;
}

.subtitle {
  padding: 0 5px 10px 5px;
}

.ingredients,
.instructions {
  padding: 10px 40px;
}

.ingredient,
.instruction {
  padding: 8px 5px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  color: #f5f5f5;
  background-color: #f52d56;
  padding: 10px;
  margin: 10px auto;
}

/* Loader */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #f52d56;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* footer */

.footer {
  width: 100%;
  bottom: 0;
  text-align: center;
  font-weight: 500;
  background-color: #f52d56;
  color: #f5f5f5;
}

.footer p {
  padding: 25px 0;
}
